body{
    background-color: #FFEAEE;
    color: black;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 1rem;
}
header{
    background-color: #AA6373;
    color: black;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}
header img{
    width: max-content;
    max-width: 30rem;
}
.main{
    background-color: #929982;
}
section{
    background-color: #A2AEBB;
    padding: .5rem;
    margin: 1rem 0;
}
div{
    margin: 1rem;
}
p{
    font-size: 1.2rem;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
nav a{
    background-color: #9AC4F8;
    color: black;
    font-size: 1.2rem;
    padding: .5rem .75rem .5rem .75rem;
    margin: .5rem;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}
nav a:hover{
    background-color: #7F98FF;
}
.home{
    display: flex;
    flex-wrap: wrap;
}
.text{
    margin: .5rem .5rem .5rem 0;
}
.text h1{
    margin: 0;
    padding: 0;
}
.learn-more{
    color: #9AC4F8;
    text-decoration: none;
    font-size: 1.5rem;
}
.learn-more:hover{
    color: #7F98FF;
}
h1{
    font-size: 2rem;
    margin: .3rem 0rem 0rem .5rem;
}
h2{
    font-size: 1.8rem;
    margin: .3rem 0rem 0rem .5rem;
}
p{
    margin: .5rem;
}
.home img{
    width: max-content;
    max-width: 25rem;
}
.shop-item img{
    max-width: 10rem;
}
.sales{
    display: flex;
    flex-direction: column;
}
.sale{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.shop-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shop-item p{
    margin: 0;
}
.link{
    color: #3A405A;
    text-decoration: none;
    margin: .5rem;
    font-size: 1.5rem;
}
.link:hover{
    color: #9AC4F8;
}
s{
    color: red;
}
.selection-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.long{
    font-size: 1.1rem;
}
.card{
    display: flex;
    flex-direction: column;
}
.line{
    display: flex;
    flex-direction: row;
    margin: 0;
}
.stay{
    display: flex;
    flex-direction: column;
    margin: .2rem .5rem .2rem 0;
}
.card input, .card select{
    max-width: 30rem;
}
.exp-date{
    display: flex;
    flex-direction: row;
    margin: 0;
}
.small input{
    max-width: 5rem;
}
.button{
    background-color: #9AC4F8;
}
.button:hover{
    background-color: #7F98FF;
}
.nj{
    max-width: 40rem;
}
.eggplant{
    background-color: #FFEAEE;
}
.newsletter input{
    margin: 1rem;
}
form{
    display: flex;
    flex-direction: column;
}
.message{
    margin: .2rem 0 0 1rem;
}
textarea{
    height: 20rem;
    margin: 0 1rem .2rem 1rem;
}
.contact-button{
    margin: 0 1rem .5rem 1rem;
    max-width: 5rem;
}
.contact-stay{
    display: flex;
    flex-direction: column;
    margin: .2rem 1rem 0 1rem;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.socials-section{
    align-items: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.socials{
    margin: 0;
    display: flex;
}
.socials img{
    width: 5rem;
    height: 5rem;
    max-width: 5rem;
    max-height: 5rem;
    margin-top: 2rem;
    padding-left: 1rem;
}
@media (min-width: 800px){
    header{
        display: flex;
        justify-content: space-between;
    }
}
@media (min-width: 1200px){
    .grid{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .grid section:nth-child(1){
        grid-column: 1/2;
        grid-row: 1/3;
        margin: 1rem 1rem 1rem 0
    }
    .grid section:nth-child(2){
        grid-column: 2/3;
        grid-row: 1/2;
        margin: 1rem 0 1rem 1rem;
    }
    .grid section:nth-child(3){
        grid-column: 2/3;
        grid-row: 2/3;
        margin: 1rem 0 1rem 1rem;
    }
    .home{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .shop{
        display: grid;
        grid-template-columns: 1.4fr 1fr;
        grid-template-rows: auto auto auto auto;
    }
    .selection:nth-child(1){
        grid-row: 1/2;
    }
    .selection:nth-child(2){
        grid-row: 2/3;
    }
    .selection:nth-child(3){
        grid-row: 3/4;
    }
    .selection:nth-child(4){
        grid-row: 4/5;
    }
    .selection{
        margin: .5rem 2rem .5rem 0;
    }
    .cart{
        grid-row: 1/3;
        margin: .5rem 0 0 .5rem;
    }
    .benefits{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .benefits section:nth-child(1){
        margin: 1rem 4rem 1rem 0;
    }
}